.supportImg {
    height: 70px;
    width: 70px;
    margin: auto;
}

.supportItem {
    background: #FFFFFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
    /* border: 1px red solid; */
    animation-delay: 0.5s;
}
.supportItem:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.getMargin {
    margin-bottom: 10px;
}